* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  margin: 0;
  background: #fafafa;
  color: #222;
}

.container {
  max-width: 1200px;
  margin: auto;
  
}

h1 {
  font-size: 28px;
  margin-bottom: 30px;
}

h1 span {
  font-weight: 500;
}

.filter-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.chip {
  display: inline-block;
  border: 1px solid #f1b0b0;
  color: #e25555;
  padding: 6px 12px;
  border-radius: 20px;
  font-size: 13px;
  margin-left: 10px;
}

.filter-bar select {
  padding: 8px 12px;
  border-radius: 8px;
  border: 1px solid #ddd;
  margin-left: 10px;
}

/* SERVICE CARD */
.service-card {
    background: #fff;
    border: 1px solid #eee;
    border-radius: 14px;
    display: flex;
    align-items: center;
    gap: 35px;
    font-weight: 500;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.03);
    margin-bottom: 22px;
}

.service-card img {
  width: 25%;
  object-fit: cover;
  border-radius: 0px;
}

.service-info h2 {
  font-weight: 500;
  font-size: 22px;
  margin-bottom: 6px;
}

.service-info small {
  color: #666;
}

.service-info p {
  margin: 12px 0 20px;
  font-size: 14px;
  font-weight: 300;
  line-height: 21px;
  color: #555;
}

.actions {
  display: flex;
  align-items: center;
  gap: 14px;
}

.actions button {
  padding: 10px 18px;
  border-radius: 10px;
  border: 1px solid #ddd;
  background: #fff;
  cursor: pointer;
}

.actions .primary {
  background: #e25555;
  color: #fff;
  border: none;
}
.rating {
  display: inline-flex;
  align-items: center;
  gap: 6px;
  margin-top: -175px;
  padding-right: 20px;
  font-size: 15px;
  font-weight: 500;
  color: #f5a623;
  white-space: nowrap;
}
.rating span {
  color: #e25555;
  font-size: 13px;
}

.load-more {
  text-align: center;
}

.load-more button {
  padding: 14px 32px;
  border-radius: 30px;
  border: none;
  background: #e25555;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}
/* =========================
   HERO CTA
========================= */
.service-hero {
  background-image: url("images/mold-remediation-sp-banner.svg");
  padding: 80px 0;
}

.hero-grid {
  display: grid;
  grid-template-columns: 1.2fr 0.8fr;
  align-items: center;
  gap: 60px;
}



.hero-content h1 {
  font-size: 44px;
  font-weight: 600;
  margin-bottom: 12px;
}

.hero-content p {
  font-size: 18px;
  color: #666;
  margin-bottom: 30px;
}

.cta-btn {
  display: inline-block;
  background: #e25555;
  color: #fff;
  padding: 14px 28px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 500;
}
#wishlist{
  margin-left: 320px;
}
.results-page{
  padding: 50px 0px;
}
.results-page h1{
  text-align: center;
}